body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: #faf8f4;
  color: #3b3b3b;
  text-align: center;
}

/* COVER */
#cover {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.salib {
  position: absolute;
  top: 30px;
  width: 70px;
  z-index: 3;
  opacity: 0.9;
}

.cover-box {
  position: relative;
  z-index: 4;
  color: white;
  padding: 30px;
  text-shadow: 0 2px 6px rgba(0,0,0,.6);
}

button {
  padding: 12px 30px;
  border: none;
  background: #bfa76a;
  color: white;
  border-radius: 30px;
  font-size: 16px;
}

.hidden { display: none; }

/* ANIMASI */
.fade {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

/* ISI */
#isi { padding: 25px; }

.ayat, .mempelai, .countdown, .acara, .kado {
  background: #fff;
  padding: 20px;
  margin: 25px auto;
  border-radius: 16px;
  max-width: 520px;
}

#timer {
  font-size: 20px;
  font-weight: bold;
}

/* GALERI */
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
}

/* REKENING */
.rekening {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 14px;
  margin: 15px 0;
}

.rekening img {
  width: 60px;
}

footer {
  margin: 40px 0;
  font-size: 14px;
}